# Full Stack Open exercise 11.20
name: fso-bloglist-pipe

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env: 
  DEPLOY: ${{ github.event_name == 'push' && ! contains(toJSON(github.event.commits.*.message), '#skip') }}
  APP_NAME: fso-bloglist

jobs:
  env_var: # workaround for env not being available in job context
    name: Expose env to job context
    runs-on: ubuntu-latest
    outputs:
      deploy: ${{ env.DEPLOY }}
      app_name: ${{ env.APP_NAME }} 
    steps:
      - run: echo "exposing env vars"

  unit-test:
    if: false
    name: Lint and unit test
    uses: ./.github/workflows/lint_test.yml
    secrets:
      MONGODB_URI: ${{ secrets.MONGODB_URI }}

  e2e-test:
    if: false
    needs: unit-test # Both tests modify the same test data, so run them sequentially
    name: Playwright tests
    uses: ./.github/workflows/playwright.yml
    secrets:
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
     
  deploy:    
    needs: [env_var]
    name: Deploy if ${{ needs.env_var.outputs.deploy }}
    if: needs.env_var.outputs.deploy == 'true'
    uses: ./.github/workflows/fly-deploy.yml
    secrets: 
      token: ${{ secrets.FLY_API_TOKEN }}
  
  tag_release:
    needs: [env_var, deploy]
    name: tag if ${{ needs.env_var.outputs.deploy }}
    if: needs.env_var.outputs.deploy == 'true'
    uses: ./.github/workflows/tag_release.yml

  # notify_success:
  #   needs: deploy
  #   name: send build success notification to Discord
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: sarisia/actions-status-discord@v1
  #     with:
  #       webhook: ${{ secrets.DISCORD_WEBHOOK }}
  #       username: ${{ env.APP_NAME }} build bot
  #       title: New ${{ env.APP_NAME }} version deployed
  #       description: Go and grab some coffee

  # notify_failure:
  #   if: failure()
  #   needs: deploy
  #   name: send build failure notification to Discord
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: sarisia/actions-status-discord@v1
  #     with:
  #       webhook: ${{ secrets.DISCORD_WEBHOOK }}
  #       username: ${{ env.APP_NAME }} build bot
  #       status: Failure
  #       title: Failed to deploy ${{ env.APP_NAME }}
  #       description: Go and fix the build
